h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.container div {
  text-align: center;
}

input[type="file"] {
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

.response {
  margin-top: 2em;
  text-align: center;
}
